body{
    background-color: aliceblue;
}
header{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-bottom: #807e7e;
    padding: 50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4d2d2;
}
ul{
    list-style-type: none;
    margin-left: 5cm;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(28, 28, 95);
}
  
li{
    float: left;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(191, 191, 235);
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.informacion {
    margin-bottom: 20px;
}
section.InfoPersonal {
    display: flex;
    align-items: center;
    padding-left: 4cm;
}
.imagenYo{
    border-radius: 50%;
    margin-right: 20px

}
#infoPersonal {
    color: #333;
    justify-content: center;
    text-align: justify;
}
#infoPersonal p {
    margin: 5px 0;
}
.CuadroLogin {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

div {
    margin-bottom: 15px;
}

p {
    margin: 0;
    color: #333;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

a button {
    display: block;
    width: 100%;
    background-color: #3498db;
    margin-top: 10px;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

a button:hover {
    background-color: #2980b9;
}
#imagenPoli2{
    justify-content: center;
    align-items:center;
    height: auto;   
    max-width: 70% !important;
    margin:auto;
}



