{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Guardería Canina</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-lvf4Q5sbhFop6qFbXPHzQFTkH9g5BbGm6M8A+7ExR/H0bALqA5Pb8+ZhXb7P5zT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"s></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img class="img-hover-zoom" src="{% static 'img\luxeppupy.png' %}" alt="Texto alternativo de la imagen">
            </a>
        </div>
        <div class="user-options">
            <a href="registro"><img src="{% static 'ico/register_login_signup_icon_219991.ico' %}" class="icon"> Registrarse</a>
            <a href="login"><img src="{% static 'ico/in_door_communication_enter_log_in_login_icon_191647.ico' %}"  class="icon"> Iniciar sesión</a>
        </div>
        <a class="whatsapp" href="https://wa.me/3146379187" target="_blank">
            <img src="{% static 'ico/whatsapp.ico' %}"  alt="Logotipo de la empresa" width="50" height="50"/>
        </a>
        <a class="maps" href="https://icon-icons.com/es/icono/google-mapas-nuevo-logo/159147" target="_blank">
            <img src="{% static 'ico/maps.ico' %}" alt="Logotipo de la empresa" width="50" height="50"/>
        </a>
    </header>

    <nav>
        <ul>
            <li><a href="/" transition="all 0.7s ease-in-out">Inicio</a></li>
            <li class="dropdown">
                <a href="#servicios" transition="all 0.7s ease-in-out" >Servicios</a>
                <ul class="dropdown-content">
                    <li><a href="#servicios">Hotel</a></li>
                    <li><a href="#servicios">Guardería</a></li>
                    <li><a href="#servicios">Dia de sol</a></li>
                    <li><a href="#servicios">Paseo</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    
    <main>
        <section id="slider">
            <div class="image-service">
                <img src="{% static 'img/servicio1.png' %}" width="40%">
            </div>
            <div class="image-service-guarderia">
                <img src="{% static 'img/servicio2.png' %}" width="40%">
            </div>
        </section>
    </main>
</body>
</html>
