{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
    </ul>
    <img src="{% static 'img/logo-big.png' %}" width="10%">
  </nav>
  <main>
    <div class="container">
      <div class="category">
          <h2>categoria 1: perifericos</h2>
          <a href="/perifericos"><button>Ver+</button></a>
          <div class="images">
              <div class="image">
                  <img src="{% static '/img/productos/perifericos.jpg' %}" alt="Image 1">
                  <div class="details">
                      <h3>Logitech G502 HERO - Mouse para juegos de alto rendimiento con cable, sensor HERO 25K, 25,600 ppp, RGB, pesos ajustables, 11 botones programables, memoria integrada, PC / Mac</h3>
                      <p>$150.000</p>
                      <p>categoria: perifericos</p>
                  </div>
                  <a href="/infoProductos">Detalles</a>
              </div>
              <div class="image">
                  <img src="{% static '/img/productos/perifericos2.jpg' %}" alt="Image 2">
                  <div class="details">
                      <h3>Teclado mecánico para juegos de PC, iluminación RGB, iluminación AIMO, teclado de computadora con cable, reposamuñecas desmontables, interruptores rojos de sensación lineal, placa superior de aluminio cepillado, negro</h3>
                      <p>$100.000</p>
                      <p>categoria: perifericos</p>
                  </div>
                  <a href="/infoProductos">Detalles</a>
              </div>
          </div>
      </div>

      <div class="category">
          <h2>categoria 2: Computadores</h2>
          <a href="/computadores"><button>Ver+</button></a>
          <div class="images">
              <div class="image">
                  <img src="{% static '/img/productos/chasis1.jpg' %}" alt="Image 3">
                  <div class="details">
                      <h3>Gabinete Gamer Thermaltake S200 Tg Argb Black 3x120mm Rgb F</h3>
                      <p>$400.000</p>
                      <p>categoria: Computadores</p>
                  </div>
                  <a href="/infoProductos">Detalles</a>
              </div>
              <div class="image">
                  <img src="{% static '/img/productos/chasis2.jpg' %}" alt="Image 4">
                  <div class="details">
                      <h3>Gabinete Masterbox Td500 Blanco Atx 3 Fans Argb</h3>
                      <p>$500.000</p>
                      <p>categoria: Computadores</p>
                  </div>
                  <a href="/infoProductos">Detalles</a>
              </div>
          </div>
      </div>
  </div>
  <style>
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    .category {
      width: 20cm;
      height: 50%;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .category h2 {
      text-align: center;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #3498db;
      color: #fff;
    }

    .category a button {
      display: block;
      text-align: center;
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      text-decoration: none;
      border-top: 1px solid #ddd;
    }

    .images {
      display: flex;
      justify-content: space-around;
      padding: 30px;
    }

    .image {
      width: 48%;
      margin-bottom: 60px;
      padding: 20px;
      background-color: #fff;
      border-radius: 9px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .image a{
      text-align: center;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #3498db;
      color: #fff;
    }

    .image img {
      width: 100%;
      border-radius: 8px;
    }

    .details {
      padding: 10px;
    }

    .details h3 {
      margin: 0;
      color: #333;
    }

    .details p {
      margin: 0;
      color: #777;
    }
  </style>
  </main>
</body>
</html>
