{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
    </ul>
    <img src="{% static 'img/logo-big.png' %}" width="10%">
  </nav>
  <main>
    <div class="container">
      <div class="category">
        <h2>categoria 2: Computadores</h2>
        <div class="images">
            <div class="image">
                <img src="{% static '/img/productos/chasis3.jpg' %}" alt="Image 3">
                <div class="details">
                    <h3>Zalman Carcasa compacta T3 Mini Tower para PC, carcasa de computadora Micro ATX Mini ITX - Ventiladores preinstalados de 0.079 x 4.724 in - Panel lateral de vidrio templado - Ventilación de aire de malla para una refrigeración optimizada, color negro</h3>
                    <p>$400.000</p>
                    <p>categoria: Computadores</p>
                </div>
                <a href="/infoProductos">Detalles</a>
            </div>
            <div class="image">
                <img src="{% static '/img/productos/chasis4.png' %}" alt="Image 4">
                <div class="details">
                    <h3>LG 27GN800-B Ultragear Monitor de juegos 27 pulgadas QHD (2560 x 1440), IPS, tiempo de respuesta 1 ms (GtG), tasa de actualización de 144 Hz, compatible con NVidia G-Sync, AMD FreeSync Premium, Negro</h3>
                    <p>$880.000</p>
                    <p>categoria: Computadores</p>
                </div>
                <a href="/infoProductos">Detalles</a>
            </div>
        </div>
        <div class="images">
          <div class="image">
              <img src="{% static '/img/productos/chasis5.jpg' %}" alt="Image 3">
              <div class="details">
                  <h3>Monitor curvo de 27 pulgadas, Full HD (1920 x 1080P) Panel VA 1800R 75HZ 99% sRGB Monitor de computadora profesional, 3 lados sin marco, sin parpadeo, filtro de luz azul, para oficina y juegos (VGA, HDMI), montaje VESA, negr</h3>
                  <p>$700.000</p>
                  <p>categoria: Computadores</p>
              </div>
              <a href="/infoProductos">Detalles</a>
          </div>
          <div class="image">
              <img src="{% static '/img/productos/chasis6.jpg' %}" alt="Image 4">
              <div class="details">
                  <h3>ASUS Monitor de Gaming TUF 144Hz 1ms Eye Sync Care HDMI</h3>
                  <p>$1.000.000</p>
                  <p>categoria: Computadores</p>
              </div>
              <a href="/infoProductos">Detalles</a>
          </div>
      </div>
    </div>
  </div>
  <style>
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    .category {
      width: 20cm;
      height: 50%;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .category h2 {
      text-align: center;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #3498db;
      color: #fff;
    }

    .category a button {
      display: block;
      text-align: center;
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      text-decoration: none;
      border-top: 1px solid #ddd;
    }

    .images {
      display: flex;
      justify-content: space-around;
      padding: 30px;
    }
    .image a{
      text-align: center;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #3498db;
      color: #fff;
    }

    .image {
      width: 48%;
      margin-bottom: 60px;
      padding: 20px;
      background-color: #fff;
      border-radius: 9px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .image img {
      width: 100%;
      border-radius: 8px;
    }

    .details {
      padding: 10px;
    }

    .details h3 {
      margin: 0;
      color: #333;
    }

    .details p {
      margin: 0;
      color: #777;
    }

  </style>
  </main>
</body>
</html>
