{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
    </ul>
    <img src="{% static 'img/logo-big.png' %}" width="10%">
  </nav>
  <main>
    <section >
      <div class="infoProducto">
        <h2 class="tituloProducto">Producto</h2>
        <img src="{% static 'img/detalles/destiny2.jpg' %}" width="100%" alt="imagendetalle">
        <input type="number" name="cantidad" value="1">
        <a href="/categorias"><button>Comprar</button></a>
      </div>
      <style>
        main{
          margin: 50px auto;
          background-color: #fff;
          padding: 70px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
        .infoProducto{
          max-width: 800px;
          margin: 50px -50px;
          padding: 70px;
          border-radius: 8px;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        }
      </style>
    </section>


    <section>
      <div class="carousel-container">
        <div class="carousel-content">
            <div class="carousel-item"><img src="{% static 'img/detalles/1290461.jpg' %}" alt="Imagen 1"></div>
            <div class="carousel-item"><img src="{% static 'img/detalles/zed-4k-a4-2880x1800.jpg' %}" alt="Imagen 2"></div>
            <div class="carousel-item"><img src="{% static 'img/detalles/casa-kame-de-dragon-ball_1920x1080_xtrafondos.com.jpg' %}" alt="Imagen 3"></div>
            <div class="carousel-item"><img src="{% static 'img/detalles/anime-girl-cyberpunk-ride-4k-lx-1920x1080.jpg' %}" alt="Imagen 4"></div>
            <div class="carousel-item"><img src="{% static 'img/detalles/mylivewallpapers.com-Red-Lightsaber_thumbnail.jpg' %}" alt="Imagen 4"></div>
        </div>
        <button class="carousel-btn prev" onclick="prevSlide()">❮</button>
        <button class="carousel-btn next" onclick="nextSlide()">❯</button>
      </div>
      <style>
        .carousel-container {
            width: 80%;
            max-width: 800px;
            margin: 50px auto;
            overflow: hidden;
            position: relative;
            margin-left: 4cm;
        }

        .carousel-content {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }

        .carousel-item img {
            width: 100%;
            height: auto;
            display: block;
        }

        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            background-color: rgb(191, 191, 235);
            color: #fff;
            border: none;
            cursor: pointer;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }
      </style>
      <script>
        let currentIndex = 0;

        function showSlide(index) {
            const carouselContent = document.querySelector('.carousel-content');
            const slides = document.querySelectorAll('.carousel-item');
            const totalSlides = slides.length;

            if (index < 0) {
                currentIndex = totalSlides - 1;
            } else if (index >= totalSlides) {
                currentIndex = 0;
            } else {
                currentIndex = index;
            }

            const translateValue = -currentIndex * 100 + '%';
            carouselContent.style.transform = 'translateX(' + translateValue + ')';
        }

        function prevSlide() {
            showSlide(currentIndex - 1);
        }

        function nextSlide() {
            showSlide(currentIndex + 1);
        }

        setInterval(nextSlide, 3000);
      </script>
    </section>
  </main>
</body>
</html>