{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
    </ul>
    <img src="{% static 'img/logo-big.png' %}" width="10%">
  </nav>
  <main>
    <div class="container">
      <div class="category">
          <h2>categoria 1: perifericos</h2>
          <div class="images">
              <div class="image">
                  <img src="{% static '/img/productos/perifericos3.jpg' %}" alt="Image 1">
                  <div class="details">
                      <h3>VersionTECH. G2000 - Auriculares para juegos con micrófono con cancelación de ruido, luces LED, orejeras de memoria suave para PS5/PS4/Xbox One/portátil/PC/Mac/Nintendo NES Games-Negro</h3>
                      <p>$125.000</p>
                      <p>categoria: perifericos</p>
                  </div>
                  <a href="/infoProductos">Detalles</a>
              </div>
              <div class="image">
                  <img src="{% static '/img/productos/perifericos4.jpg' %}" alt="Image 2">
                  <div class="details">
                      <h3>ASUS TUF Gaming GeForce RTX™ 4060 Ti OC Edition Tarjeta gráfica para juegos (PCIe 4.0, 8 GB GDDR6, DLSS 3, HDMI 2.1a, DisplayPort 1.4a)</h3>
                      <p>$1.500.000</p>
                      <p>categoria: perifericos</p>
                  </div>
                  <a href="/infoProductos">Detalles</a>
              </div>
          </div>
          <div class="images">
            <div class="image">
                <img src="{% static '/img/productos/perifericos5.jpg' %}" alt="Image 1">
                <div class="details">
                    <h3>MSI Tarjeta gráfica GeForce RTX 4060 Ti 8GB GDRR6 128-Bit HDMI/DP Nvlink TORX Fan 4.0 Ada Lovelace Architecture (RTX 4060 Ti Ventus 3X 8G OC)</h3>
                    <p>$1.450.000</p>
                    <p>categoria: perifericos</p>
                </div>
                <a href="/infoProductos">Detalles</a>
            </div>
            <div class="image">
                <img src="{% static '/img/productos/perifericos6.jpg' %}" alt="Image 2">
                <div class="details">
                    <h3>Redragon Teclado mecánico para juegos, teclado mecánico programable con cable retroiluminado LED RGB con interruptor rojo, intercambiable en caliente, anti-fantasma, teclas PBT de doble disparo, teclado iluminado para PC Mac</h3>
                    <p>$260.000</p>
                    <p>categoria: perifericos</p>
                </div>
                <a href="/infoProductos">Detalles</a>
            </div>

        </div>
      </div>
  </div>
  <style>
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    .category {
      width: 20cm;
      height: 50%;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .category h2 {
      text-align: center;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #3498db;
      color: #fff;
    }

    .category a button {
      display: block;
      text-align: center;
      padding: 10px;
      background-color: #3498db;
      color: #fff;
      text-decoration: none;
      border-top: 1px solid #ddd;
    }

    .images {
      display: flex;
      justify-content: space-around;
      padding: 30px;
    }
    .image a{
      text-align: center;
      color: #333;
      padding: 15px;
      margin: 0;
      background-color: #3498db;
      color: #fff;
    }

    .image {
      width: 48%;
      margin-bottom: 60px;
      padding: 20px;
      background-color: #fff;
      border-radius: 9px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .image img {
      width: 100%;
      border-radius: 8px;
    }

    .details {
      padding: 10px;
    }

    .details h3 {
      margin: 0;
      color: #333;
    }

    .details p {
      margin: 0;
      color: #777;
    }
  </style>
  </main>
</body>
</html>
