{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/c9f5871d83.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img class="img-hover-zoom" src="{% static 'img\luxeppupy.png' %}" alt="Texto alternativo de la imagen">
            </a>
        </div>
        <div class="user-options">
            <a href="/registro"><img src="{% static 'ico/register_login_signup_icon_219991.ico' %}" class="icon"> Registrarse</a>
            <a href="/login"><img src="{% static 'ico/in_door_communication_enter_log_in_login_icon_191647.ico' %}"  class="icon"> Iniciar sesión</a>
        </div>
        <a class="whatsapp" href="https://wa.me/3146379187" target="_blank">
            <img src="{% static 'ico/whatsapp.ico' %}"  alt="Logotipo de la empresa" width="50" height="50"/>
        </a>
        <a class="maps" href="https://icon-icons.com/es/icono/google-mapas-nuevo-logo/159147" target="_blank">
            <img src="{% static 'ico/maps.ico' %}" alt="Logotipo de la empresa" width="50" height="50"/>
        </a>
    </header>
    <nav>
        <ul>
            <li><a href="/" transition="all 0.7s ease-in-out">Inicio</a></li>
            <li class="dropdown">
                <a href="#servicios" transition="all 0.7s ease-in-out" >Servicios</a>
                <ul class="dropdown-content">
                    <li><a href="#servicios">Hotel</a></li>
                    <li><a href="#servicios">Guardería</a></li>
                    <li><a href="#servicios">Dia de sol</a></li>
                    <li><a href="#servicios">Paseo</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="background">
        <section class="CuadroLogin">
            <h2 class="titulo">Registrarse</h2>
            <form method="post" action="/registro/">
                {% csrf_token %}
                <div>
                    <h4>NOMBRE </h4>
                    <input type="text" name="nombre" required>
                </div>
                <div>
                    <h4>PRIMER APELLIDO </h4>
                    <input type="text" name="papellido" required>
                </div>
                <div>
                    <h4>SEGUNDO APELLIDO </h4>
                    <input type="text" name="sapellido" required>
                </div>
                <div>
                    <h4>TELEFONO </h4>
                    <input type="text" name="telefono" required>
                </div>
                <div>
                    <h4>CORREO </h4>
                    <input type="email" name="correo" required>
                </div>
                <div>
                    <h4>DIRECCION </h4>
                    <input type="text" name="direccion" required>
                </div>
                <div>
                    <h4>FECHA DE NACIMIENTO </h4>
                    <input type="date" name="fnacimiento" required>
                </div>
                <div>
                    <h4>USUARIO </h4>
                    <input type="text" name="usuario" required>
                </div>
                <div>
                    <h4>CONTRASEÑA </h4>
                    <input type="password" name="clave" required>
                </div>
                <button type="submit">Registrarse</button>
            </form>
            <a href="/login"><button>Iniciar Sesion</button></a>
            <h3>{{error}}</h3>
        </section>
    </div>
    <style>
        .background {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-image: url('/static/img/fondo.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .CuadroLogin {
            max-width: 400px;
            width: 100%;
            padding: 90px; 
            border-radius: 5px;
            text-align: center; 
            border: 1px solid black;
            border-radius: 10px;
            background-position: center;
            background-size: cover;
            background-image: url('/static/img/fondo.webp');
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 20px;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px
        }
        div {
            margin-bottom: 15px;
        }
        .CuadroLogin input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 19px;
            
            background: transparent;
            color: #000000;
        }

    </style>
</body>
</html>