{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Guardería Canina</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-lvf4Q5sbhFop6qFbXPHzQFTkH9g5BbGm6M8A+7ExR/H0bALqA5Pb8+ZhXb7P5zT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"s></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img class="img-hover-zoom" src="{% static 'img\luxeppupy.png' %}" alt="Texto alternativo de la imagen">
            </a>
        </div>
        <div class="user-options">
            <a href="/"><img src="{% static 'ico/in_door_communication_enter_log_in_login_icon_191647.ico' %}"  class="icon"> Salir</a>
        </div>
        <a class="whatsapp" href="https://wa.me/3146379187" target="_blank">
            <img src="{% static 'ico/whatsapp.ico' %}"  alt="Logotipo de la empresa" width="50" height="50"/>
        </a>
        <a class="maps" href="https://icon-icons.com/es/icono/google-mapas-nuevo-logo/159147" target="_blank">
            <img src="{% static 'ico/maps.ico' %}" alt="Logotipo de la empresa" width="50" height="50"/>
        </a>
    </header>

    <nav>
        <ul>
            <li><a href="/" transition="all 0.7s ease-in-out">Inicio</a></li>
            <li class="dropdown">
                <a href="#servicios" transition="all 0.7s ease-in-out" >Servicios</a>
                <ul class="dropdown-content">
                    <li><a href="#servicios">Hotel</a></li>
                    <li><a href="#servicios">Guardería</a></li>
                    <li><a href="#servicios">Dia de sol</a></li>
                    <li><a href="#servicios">Paseo</a></li>
                </ul>
            </li>
            <li><a href="https://wa.me/3146379187">Reservas Servicio premium</a></li>
        </ul>
    </nav>
    
    <main>
        <div class="container-fluid p-0">
            <div id="header-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="w-100" src="https://static.wixstatic.com/media/374af5_b30fb1a3ddcb4832ba75e3d7970b6172~mv2.png/v1/fill/w_1220,h_600,al_c,q_90,enc_auto/374af5_b30fb1a3ddcb4832ba75e3d7970b6172~mv2.png" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <a href="" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4">Learn More</a>
                            </div>
                        </div>
                    </div>s
                    <div class="carousel-item">
                        <img class="w-100" src="https://static.wixstatic.com/media/374af5_59164196df0a4fc1adbe4ba86410423a~mv2.png/v1/fill/w_1220,h_600,al_c,q_90,enc_auto/374af5_59164196df0a4fc1adbe4ba86410423a~mv2.png" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <a href="" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="w-100" src="https://static.wixstatic.com/media/374af5_e0f64f72d789440cbcd0d4415c67b1a9~mv2.png/v1/fill/w_1220,h_600,al_c,q_90,enc_auto/374af5_e0f64f72d789440cbcd0d4415c67b1a9~mv2.png" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <a href="" class="btn btn-lg btn-secondary mt-3 mt-md-4 px-4">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                    <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                        <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                    <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                        <span class="carousel-control-next-icon mb-n2"></span>
                    </div>
                </a>
            </div>
        </div>

        <section id="servicios">
            <div class="image-container">
                <p>El paraiso para tus mascotas</p>
                <div class="image-wrapper">
                    <a href="detallesServicios">
                        <img class="img-hover-zoom" src="{% static 'img/hotel.png' %}" width="200" alt="Descripción de la imagen 1">
                        <p class="image-title">Hotel</p>
                    </a>
                </div>
                <div class="image-wrapper">
                    <a href="detallesServicios">
                        <img class="img-hover-zoom" src="{% static 'img/guarderia.png' %}" width="320" alt="Descripción de la imagen 2">
                        <p class="image-title">Guardería</p>
                    </a>
                </div>
                <div class="image-wrapper">
                    <a href="detallesServicios">
                        <img class="img-hover-zoom" src="{% static 'img/sol.png' %}" width="320" alt="Descripción de la imagen 3">
                        <p class="image-title">Sol y Playa</p>
                    </a>
                </div>
                <div class="image-wrapper">
                    <a href="detallesServicios">
                        <img class="img-hover-zoom" src="{% static 'img/paseo.png' %}" width="320" alt="Descripción de la imagen 4">
                        <p class="image-title">Paseo</p>
                    </a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
