/* Estilos generales */
/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
    'header'
    'nav'
    'main'
    ;
}

main{
    grid-area: main;
    background-color:#f2f2f2;
}
.container{
    display:grid;
}
/* Header */
header {
    grid-area: header;
    background-color: #DEFFC5;
    color: #B08D00;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(85, 84, 84, 0.8);

}

.logo {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.logo img {
  width: 600px; 
  margin-right: 70px; 
}

.logo h1 {
  margin: 0; 
}
input {
    width: 200px;
}


.user-options {
  text-align: center;
  margin-top: 20px;
}

.user-options a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 15px;
  text-decoration: none;
  color: #B08D00;
  background-color: #FFF4C5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.user-options a:hover {
  background-color: #ccc;
}

.user-options i {
  margin-right: 5px;
}
.whatsapp {
  position: fixed;
  bottom: 0;
  top: 40px;
  right: -80px;
  width: 300px;
}
.maps {
  position: fixed;
  bottom: 0;
  top: 100px;
  right: -80px;
  width: 300px;
}
.icon {
  width: 20px;
  height: 20px; 
  margin-right: 5px;
}
/* Navegación */
nav {
  background-color: #deffc57c;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
  position: relative;

}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
}

nav a:hover {
  background-color: rgb(181, 218, 190);
  transform: scale(1.1);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(181, 218, 190);
  min-width: 160px;
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #fff1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
li {
  border-right: 2px solid #000000;
  transition: border-right 0.5s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

li:hover {
  border-right-color: rgb(52, 219, 74); 
}
/* Servicios */
#service {
    display: inline-block;
    padding: 50px;
    margin: 100px;
    height: 100%;
    position: absolute;
    top: 0;
}
.centered-h1 {
    text-align: center;
}

.image-container {
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    margin: 40px 0;
    margin-top: 5cm;
    margin-left: 5.5cm;
    margin-bottom: 3cm;
}
.image-container p{
  justify-content: center;
  color:#B08D00;
  font-size: 40px;
  margin-top: 34.5cm;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.image-wrapper {
    position: relative;
    margin-right: 6px;
    text-align: center;
}
.image-wrapper p{
  justify-content: center;
  color:#B08D00;
  font-size: 30px;
  margin-top: -2cm;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-hover-zoom {
    transition: transform 0.6s ease-in-out;
    width: 70%; 
    height: fit-content; 
}

.img-hover-zoom:hover {
    transform: scale(1.5);
}

p {
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 0); 
    font-size: 16px; 
}


/* carrusel*/

#slider{
  background-color: #F0EF94;
}
#slider-quest{
  background-color: #FFFFFF;
}
.image-service {
  text-align: center;
}
.image-service-guarderia{
  text-align: center;
}

.titulo {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


div {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}


button:hover {
    background-color: #45a049;
}

a button {
    background-color: #3498db;
    margin-top: 10px;
    text-decoration: none;
}

a button:hover {
    background-color: #2980b9;
}

#slider{
    background-color: #F0EF94;
  }
  #slider-quest{
    background-color: #FFFFFF;
  }
  .image-service {
    text-align: center;
  }
  .image-service-guarderia{
    text-align: center;
  }