{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="login">Login</a></li>
      <li><a href="registro">Registro</a></li>
    </ul>
    <img src="{% static 'img/logo-big.png' %}" width="10%">
  </nav>
  <header>
    <img src="{% static 'img/poli.png' %}" alt="">
  </header>
  <main>
    <section class="informacion">
      <h1>Habilidades</h1>
      <p>Programacion en python, java y c++, manejo basico de base de datos y desarollo de paginas web</p>
      <h1>Herramientas de dominio</h1>
      <p>python, java,c++, html, css</p>
    </section>
    <section class="InfoPersonal">
      <img class= "imagenYo" src="{% static 'img/yo.jpeg' %}" width="45%" >
      <div>
        <h2>Nombre:</h2><p>Jose Ricardo</p>
        <h2>Apellido:</h2><p>Botero valencia</p>
        <h2>Cedula:</h2><p>1193595602</p>
        <h2>Correo:</h2><p>josebotero679@gmail.com</p>
      </div>
    </section>
  </main>
</body>
</html>