{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
    </ul>
    <img src="{% static 'img/logo-big.png' %}" width="10%">
  </nav>
  <header>
    <section class="CuadroLogin">
        <h2 class="titulo">Registrarse</h2>
        <form method="post" action="/registro/">
            {% csrf_token %}
            <div>
                <p>Nombre: </p>
                <input type="text" name="nombre" required>
            </div>
            <div>
                <p>Primer apellido: </p>
                <input type="text" name="papellido" required>
            </div>
            <div>
                <p>Segundo apellido: </p>
                <input type="text" name="sapellido" required>
            </div>
            <div>
                <p>correo: </p>
                <input type="email" name="correo" required>
            </div>
            <div>
                <p>Usuario: </p>
                <input type="text" name="usuario" required>
            </div>
            <div>
                <p>Contraseña: </p>
                <input type="password" name="clave" required>
            </div>
            <button type="submit">Registrarse</button>
        </form>
        <a href="/login"><button>Iniciar Sesion</button></a>
        <h3>{{error}}</h3>
    </section>
    <img id="imagenPoli2" src="{% static 'img/poli.png' %}" height="20%" width="20%">
  </header>
  

  <main>
    <section class="informacion">
      <h1>Habilidades</h1>
      <p>Programacion en python, java y c++, manejo basico de base de datos y desarollo de paginas web</p>
      <h1>Herramientas de dominio</h1>
      <p>python, java,c++, html, css</p>
    </section>
    <section class="InfoPersonal">
      <img class= "imagenYo" src="{% static 'img/yo.jpeg' %}" width="45%" >
      <div>
        <h2>Nombre:</h2><p>Jose Ricardo</p>
        <h2>Apellido:</h2><p>Botero valencia</p>
        <h2>Cedula:</h2><p>1193595602</p>
        <h2>Correo:</h2><p>josebotero679@gmail.com</p>
      </div>
    </section>
  </main>
</body>
</html>